// Place all the styles related to the Ripples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#container {
  width: 90%;
  display: block;
  margin: 0 auto;

  nav {
    text-align: center;
  }

  table {
    margin: 1em auto;
    width: 100%;
    tbody {
      tr:nth-of-type(odd) {
      background-color:#DCD0FF;
      }
    }
  }
}
