// Place all the styles related to the Ripples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
nav {
  margin-bottom: 1em;
  border-radius: 15px;
}

.card-title {
  margin: 1em 10%;
}

.btn-primary {
  margin: 1em 0;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 0 0.5em;
  color: white;
}
.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
  border-right: 2px solid white;
}

.table {
  td {
    max-width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  tbody {
    tr:nth-child(odd){
    background-color: #F2E8FF;
    }
  }
}
